:root {
    --primero: #8bc34a;
    --segundo: #03a9f4;
    --tercero: #ab47bc;
    --cuarto: #ffb300;
    --gris: #ecf0f5;
    --azul: #25476a;
}

/**Generales**/
html{
    height: 100%;
}
body{
    min-height: 100%;
}
a.text-light:focus,
a.text-light:hover{
    color: #ffffff!important;
}

/**Login**/
body.login{
    background-image: url(../img/libros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
body.login .contenido{
    border-radius: 10px;
    -webkit-box-shadow: 0px 17px 39px -6px rgba(0,0,0,0.76);
    -moz-box-shadow: 0px 17px 39px -6px rgba(0,0,0,0.76);
    box-shadow: 0px 17px 39px -6px rgba(0,0,0,0.76);
}
.btn-primary,
.bg-primary {
    background-color: var(--segundo)!important;
}
.btn-success,
.bg-success {
    background-color: var(--primero);

}
.btn-success{
    border-color: var(--primero);
}

/**Clientes**/
/**navbar**/
.bd-navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

/**Aside**/
aside{
    z-index: 1;
    width: 260px;
    height: 100vh;
    position: absolute;    
}

/**Main**/
main{
    margin-left: 260px;
    position: relative;
    left: 0;
    min-height: 100%;
}
.boton {
    min-height: 120px;
}
.boton i{
    font-size: 3rem;
}
.boton a:hover{
    text-decoration: none;
}